html,body {
    background-color: $background;
    height: 100%;
}

.wrapper {
    min-height: 100%;
  }

.navbar {
    padding: 0px 100px 0px 100px;
    background-color: $primary;
  }
  
  .navbar-toggler {
      border: none;
  }
  
  h1 {
      text-align: center;
      margin: 80px;
      font-size: 34px;
  }
  
  .row {
      display: flex;
      justify-content: center
  }
  
  .card {
      width: 264px;
      height:263px;
      margin: 25px;
      background-color: $primary;
      border-radius: 15px;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.068)
  }

  .card-3, .card-8 {
      background-color: $secondary;
      border: 3px solid $border;
  }

  .card-6 {
      background-color: $border;
      border: 3px solid $secondary;
  }
  
  footer {
      display: flex;
      justify-content: space-between;
      background-color: $primary;
      color: black;

      p {
          margin: 1rem;
      }
  }